* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(240, 240, 240);
}

.carousel-container {
    background-color: #fff;
    border-radius: 20px;
    margin: 10px auto;
    text-align: center;
    padding: 20px;
    box-shadow: 4px 4px 16px rgb(140, 140, 140);
}

.photo-container {
    width: 500px;
    height: 500px;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    transition: 10s;
}

.button-container {
    height: 60px;
    display: flex;
    justify-content: center;
}

.button {
    margin: 20px 10px 0px 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255);
    background-image: linear-gradient(rgb(255, 255, 255), rgd(240, 240, 240));
    box-shadow: 4px 4px 6px rgb(140, 140, 140), inset 1px 1px 2px white;
}