/* nav .hamburger-button {
    display: none;
} */

.socials {
    position: fixed;
    /* display: flex;
    flex-direction: column; */
    background-color: rgb(167, 193, 229);
    padding: 10px 20px;
    width: 60px;
    top: 20vh;
    right: 0;
    border-radius: 20px 0 0 20px;
}

.socials:hover {
    translate: 12px;
    transition: 0.4s;
}

.socials img {
    height: 50px;
    opacity: 0.75;
    translate: 5px;
}

.socials img:hover {
    height: 50px;
    opacity: 1;
    translate: 2px 5px;
}

.headshot {
    padding: 40px 0px;
    margin-left: 10vw;
    width: 350px;
    height: 350px;
}

.headshot:hover {
    transform: rotate(-360deg) scale(0.75);
    /* transform: scale(0.75); */
    transition: 2s;
}

.introduction {
    width: 40vw;
    padding: 30px;
    border-left: 4px solid rgba(167, 193, 229);
}

.main-section {
    display: flex;
    height: 100vh;
    align-items: center;
}

.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 8px 8px 0;
    padding: 15px;
    display: inline-block;
    transform: rotate(45deg);
}

.bounce {
    animation: bounce 2s infinite;
    padding: 50px 0 0 100px;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.work-section {
    background-color: rgb(70, 80, 100);
    padding: 80px 50px;
    /* height: 100vh; */
}

.work-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work-card {
    width: 25%;
    background-color: rgb(29, 31, 38);
    margin: 10px;
    padding: 0 50px 50px 50px;
}

.html {
    border-top: 10px solid rgb(242, 172, 43);
}

.css {
    border-top: solid 8px rgb(90, 130, 200);
}

.js {
    border-top: solid 8px rgb(0, 114, 114);
}

.react {
    border-top: solid 8px rgb(240, 240, 20);
}

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.quote-container {
    width: 40vw;
    padding: 40px;
}

.quote {
    font-size: 40px;
    font-style: italic;
}

.quote-container p {
    float: right;
}

.quote span {
    color: red;
}

.about-container {
    width: 30vw;
    padding: 80px 20px;
    border-left: 4px solid rgba(167, 193, 229);
}

.about-container .bounce {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


/* Media Queries START*/

@media (max-width: 600px) {
    .socials {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .main-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
    }
    .introduction {
        width: 90vw;
        border-left: none;
        text-align: center;
    }
    .headshot {
        margin-left: 0;
    }
    .bounce {
        padding: 50px 0 0 0px;
    }
}

@media screen and (max-width: 1000px) {
    .work-card {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .about-section {
        display: flex;
        flex-direction: column;
        padding: 80px 20px;
    }
    .about-container,
    .quote-container {
        padding: 100px 0;
        border: none;
    }
    .about-section .bounce {
        display: flex;
        justify-content: flex-end;
    }
}


/* Media Queries FINISH*/